{
  "apiHostName": "https://staging-api.rfcx.org/",
  "bucketName": "rfcx-ingest-dev.appspot.com",
  "gcsServiceAccountKeyFile": "serviceAccountKeyStorage.json",
  "maxUploadBytes": 209715200,
  "tempAccessToken": "abc"
}