{
  "apiHostName": "https://staging-api.rfcx.org/",
  "ingestMethod": "checkin", // checkin|manual|stream
  "uploadBucketName": "rfcx-ingest-dev.appspot.com",
  "ingestManualBucketName": "rfcx-guardian-ark-staging",
  "gcsServiceAccountKeyFile": "serviceAccountKeyStorage.json",
  "s3AccessKey": "",
  "s3SecretKey": "",
  "s3Region": "eu-west-1",
  "maxUploadBytes": 209715200,
  "tempAccessToken": "abc"
}