# Service configured for which platform (google => cloud functions + firestore + gcs) (amazon => lambda + redis + s3)
PLATFORM=google (google | amazon)

# AWS keys and configuration (required when PLATFORM=amazon)
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY=
AWS_REGION_ID=
AWS_ACCOUNT_ID=
MONGO_HOSTNAME=
MONGO_DB=
MONGO_USERNAME=
MONGO_PASSWORD=
NODE_ENV=development
PORT=3030

# Google service json key file (required when PLATFORM=google)
GCS_SERVICE_ACCOUNT_KEY_FILE=serviceAccountKeyStorage.json

# Bucket in S3 or GCS that is the temporary storage for uploads
UPLOAD_BUCKET=rfcx-ingest-development (rfcx-ingest-development - amazon | rfcx-ingest-dev - google)
INGEST_BUCKET=rfcx-streams-development

# Limit on the upload to the temporary storage (~200mb)
MAX_UPLOAD_BYTES=209715200

# Ingestion to RFCx base API URL
API_HOST=https://staging-api.rfcx.org/

# Ingestion to RFCx by checkin endpoint (legacy), manual+audio endpoint (legacy), or stream (preferred)
INGEST_METHOD=checkin (checkin | manual | stream)

# Manual ingest method (required when INGEST_METHOD=manual)
S3_INGEST_MANUAL_BUCKET=rfcx-guardian-ark-staging

# Amazon SQS queue which is used for S3 triggers for new uploaded files
SQS_INGEST_TRIGGER_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/887044485231/ingest-service-upload-development

# Local temporary directory where to save files
CACHE_DIRECTORY=/tmp/ingest-service/

AUTHZERO_CLIENT_ID=
AUTHZERO_CLIENT_SECRET=
AUTHZERO_DOMAIN=rfcx.eu.auth0.com
AUTHZERO_AUDIENCE=https://rfcx.org
AUTHZERO_GRANT_TYPE=client_credentials

GITHUB_TOKEN=
GITHUB_REPO=rfcx/ingest-app
GITHUB_SECRET=
